* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'whitney';
    src: url(../font/whitneymedium.otf);
}

@font-face {
    font-family: 'whitneybold';
    src: url(../font/whitneybold.otf);
}

body {
    font-family: 'whitney';
}

/*container*/
.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/*nav*/

nav {
    padding: 16px;
    width: 100%;
    height: 80px;

    background-color: #3161E0;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    padding-top: 10px;
}

nav .link {
    flex-grow: 1;
}

nav .link ul {
    display: flex;
    justify-content: center;

    gap: 12px;

    list-style-type: none;
}

nav .link ul li {
    padding-left: 20px;

    color: white;
}

.login {
    padding: 10px 14px;
    border-radius: 20px;
    border: none;
}

/*nav's end*/

/*start header*/

header {
    background-image: url(../img/jumbo.png);
    background-size: cover;

    padding: 80px 20px;
}

.container-small {
    max-width: 700px;
    height: 300px;

    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: 'whitneybold';
    text-align: center;
    font-size: 3em;
    color: white;
    padding-bottom: 30px;
}

.container-small>p {
    font-size: 1.2em;
    text-align: center;
    line-height: 1.5em;
    color: white;
    padding-bottom: 30px;
}

.download-open {
    text-align: center;
}

.download {
    padding: 10px 15px 13px 10px;
    margin-right: 20px;
    border-radius: 25px;
    font-size: 1.1em;
    vertical-align: middle;
    border: none;
}

.open {
    padding: 11px 20px 15px 20px;
    border-radius: 25px;
    font-size: 1.1em;
    background-color: #23272a;
    color: white;
    border: none;
}

hr {
    border: #add8e6 solid 2px;
}

/*header's end*/

/*main sections*/
.row {
    display: flex;
}

section {
    padding: 80px 20px;
}

.bg-gray {
    background-color: #d3d3d3;


}

.text {
    height: 100%;
    width: 550px;

    flex-grow: 1;
}

.image {
    width: 450px;
    padding-bottom: 40px;
}

.text-section1 {
    padding-left: 200px;
    padding-top: 15px;

}

.text-section2 {
    padding-right: 200px;
    padding-top: 30px;
}

.bigbox {
    display: flex;
    flex-direction: column;

    height: auto;
}

main section .box {
    width: 900px;
    padding-top: 700px;
}

/*section's content*/
#first,
#second,
#third {
    width: 100%;
    height: 100%;
}

h2 {
    font-family: 'whitneybold';
    font-size: 2.5em;

    text-align: left;
}

.text>p {
    line-height: 1.3em;
    font-size: 1.2em;
}

.container>h2 {
    text-align: center;
    padding-bottom: 15px;
}

.container>p {
    text-align: center;
    padding: 0 60px 0 60px;
    line-height: 1.3em;
    font-size: 1.2em;
}

#start-adventure {

    font-family: 'whitneybold';
    font-size: 1.6em;
    text-align: center;
    padding-top: 40px;
}

.stars {
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.win-download {
    align-items: center;
    margin: 50px 400px 50px 400px;
    font-size: 1em;
    border-radius: 25px;
    padding: 10px 15px 13px 10px;
    border: none;
    background-color: #8ea1e1;
    color: white;
}

/*end main sections*/

/*start top footer*/
footer {
    background-color: #23272a;

    padding-top: 8px;
}

footer #footer-top {
    display: flex;
    margin-bottom: 50px;
    margin-top: 80px;
    border-bottom: #7289da solid 2px;

}

footer #footer-top .footer-links {
    flex-grow: 8;
    height: 500px;
    width: 300px;
}

footer #footer-top .column {
    flex-grow: 4;
    height: 500px;

    width: 150px;
}

h3 {
    font-family: 'whitneybold';
    font-size: 2em;
    padding-bottom: 20px;
    color: #7289da;
}

.language {
    width: 30px;
    vertical-align: middle;
}

select {
    background-color: transparent;
    color: white;
    border-color: #23272a;
}

h4 {
    font-size: 1.2em;
    color: #7289da;
}

ul {
    list-style-type: none;
    line-height: 2em;
    font-size: 1.2em;
    padding-top: 5px;
}

a {
    text-decoration: none;
    color: white;
}

/*end top footer*/

/*start bottom footer*/

footer #footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 0 60px 0;
}

.sign-in {
    width: 80px;
    height: 30px;

    border-radius: 20px;
    border: none;

    background-color: #8ea1e1;
    color: white;
}

i {
    padding: 20px 20px 20px 0px;
    font-size: 2em;
    color: white;
}

/*end bottom footer*/

/*button and link decorations*/

.download:hover,
.login:hover {
    color: #7289da;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.open:hover {
    background-color: #3c4042;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.win-download:hover,
.sign-in:hover {
    color: rgb(231, 243, 180);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

a:hover {
    text-decoration: underline;
}

/*end button and link decorations*/

/*bonus*/
.wave {
    background-image: url(../img/wave.svg);
    background-size: cover;
    filter: invert(83%);
    width: 100%;
    height: 90px;
}

.rotate-wave {
    transform: rotate(180deg);
    background-image: url(../img/wave.svg);
    background-size: cover;
    filter: invert(83%);
    width: 100%;
    height: 90px;
}